 /*.menu{
    color: white;
    background-color: brown;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex; 
    float: right; 
}*/

.total{
    width: 1200px;
    height: 500px;
    border-radius: 20px;
    border: solid blue 10px;
    background-color: yellow;
}

.opciones{
    padding: 0px 10px 0px 0px;
    float: right;
}

.menuGrande{
    background-color: brown;
    margin: solid orange 10px;
    height: 35px;
}

.parrafos{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: hotpink;
}

