.body{
	width: 1000;
	height: 500;
	border: 10px solid red;
}
.titulo-principal{
	border: 5px solid #B2DD8F;
	width: 800px;
	height: 150px;
}
.div{
	width: 200;
	height: 200;
	border:5px solid green:
	
}
