.body{
	width: 1000px;
	height: 940px;
	border: 10px solid red;
	background: #151526;
}
.titulo-principal{
	border: 5px solid #B2DD8F;
	width: 800px;
	height: 150px;
	color: #A2F0F0;
	text-align: center;
}
.dividido{
	width: 200px;
	height: 200px;
	border: 5px solid green;
	padding: solid green; 
	margin:;
}
